[Unit]
Description=Zuul Launcher Service
After=network.target

[Service]
Type=simple
User=zuul
Group=zuul
EnvironmentFile=-/etc/sysconfig/zuul
ExecStart=/usr/bin/zuul-launcher -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
