[Unit]
Description=Zuul Server Service
After=network.target

[Service]
Type=simple
User=zuul
Group=zuul
EnvironmentFile=-/etc/sysconfig/zuul
ExecStart=/usr/bin/zuul-server -d
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPost=/usr/bin/wait4service localhost $GEARMAN_PORT

[Install]
WantedBy=multi-user.target
